<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>映画名</th>
            <th>座席名</th>
            <th>予約日</th>
            <th>開始時間</th>
            <th>名前</th>
            <th>メールアドレス</th>
        </tr>
    </thead>
    <tbody>
        <% @reservations.each do |reservation| %>
            <tr>
                <td><%= link_to reservation.id, admin_reservation_path(reservation) %></td>
                <td><%= reservation.schedule.movie.name %></td>
                <td><%= reservation.sheet.formatted_name %></td>
                <td><%= reservation.date.strftime("%Y-%m-%d") %></td>
                <td><%= reservation.schedule.start_time.strftime("%H:%M") %></td>
                <td><%= reservation.name %></td>
                <td><%= reservation.email %></td>
            </tr>
        <% end %>
    </tbody>
</table>
